/* Navigation media queries for smaller device */
@media screen and (max-width: 576px) {
  .navigation {
    flex-direction: column;
    padding: 1rem 0rem;
  }
  .nav-links ul {
    flex-direction: column;
  }
  .nav-links ul li {
    margin: 0.8rem;
  }
  .link-div {
    display: block;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-text,
  .banner-image,
  .banner-image img {
    width: 100%;
    padding: 0.5rem;
  }
}
/* Gamer media queries for smaller device */
@media screen and (max-width: 576px) {
  .gamer {
    flex-direction: column;
    padding: 0.5rem;
  }
  .gamer-text,
  .gamer-image {
    text-align: center;
    width: 100%;
  }
  .semi-large-font-title {
    font-size: 1.5rem;
  }
  .description-text {
    font-size: 0.9rem;
  }
}

/* Online games media queries for smaller device */
@media screen and (max-width: 576px) {
  .videos {
    grid-template-columns: repeat(1, 1fr);
    padding: 0.5rem;
    margin: 0rem;
  }
  .online-games {
    margin-top: 1rem;
  }
}

/* Play instantly media queries for smaller device */
@media screen and (max-width: 576px) {
  .play-instantly {
    flex-direction: column-reverse;
    padding: 0.5rem;
    margin: 0rem;
    gap: 2rem;
  }
  .play-text-box {
    width: 100%;
    text-align: center;
  }
  .play-image-box {
    width: 70%;
    object-fit: cover;
  }
  .play-image-box img {
    width: 100%;
    object-fit: cover;
  }
  .online-games {
    margin-top: 1rem;
  }
}

/* Play games online media queries for smaller device */
@media screen and (max-width: 576px) {
  .play-games-online {
    flex-direction: column;
    padding: 0.5rem;
    margin: 0rem;
    gap: 2rem;
  }
  .play-games-online-text-box {
    width: 100%;
    text-align: center;
  }
  .play-online-image-box {
    width: 70%;
    object-fit: cover;
  }
  .play-online-image-box img {
    width: 100%;
    object-fit: cover;
  }
  .play-games-online {
    margin-top: 1rem;
  }
}

/* Careers section media queries for smaller device */
@media screen and (max-width: 576px) {
  .careers {
    padding: 0.5rem;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .job-categories {
    width: 100%;
  }
  .career-text-box,
  .career-image-box {
    width: 100%;
  }
}

/* Gaming category list media queries for smaller device */
@media screen and (max-width: 576px) {
  .gaming-category-links {
    background-color: #fff9fc;
    padding: 0.5rem;
  }
  .link-box {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 0.5rem;
    row-gap: 1rem;
  }
}

/* Footer */
@media screen and (max-width: 576px) {
  footer {
    padding: 0.5rem;
  }
  .social-links {
    grid-template-columns: repeat(3, 1fr);

    gap: 0.5rem;
    color: #fff;
  }
  .links {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    width: 100%;
  }
}
