/* google font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* Colors */
* {
  --bg-white-color: #fff;
  --primary-color: #ff42a5;
  --secondary-color: #4ec5f7;
  --decorated-text-color: #ff42a5;
  --hover-primary: #c10566;
  --hover-secondary: #0681b6;
  --career-background-color: #ff42a5;
  --footer-background-color: #0b0223;
  --gray-color: #534c64;
}

/* Shared styles
==============================*/
/* buttons */
.btn-primary {
  background-color: var(--primary-color);
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  border-radius: 105rem;
  padding: 0.7rem 1.3rem;
}
.btn-primary:hover {
  background-color: var(--hover-primary);
}
.btn-secondary {
  background-color: var(--secondary-color);
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  border-radius: 105rem;
  padding: 0.7rem 1.3rem;
}
.btn-secondary:hover {
  background-color: var(--hover-secondary);
}

.btn-white {
  background-color: var(--bg-white-color);
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  border-radius: 1.5rem;
  padding: 0.7rem 1.3rem;
  color: var(--primary-color);
  margin: 1rem 0rem;
}

.btn-white:hover {
  background-color: var(--hover-secondary);
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  border-radius: 1.5rem;
  padding: 0.7rem 1.3rem;
  color: var(--bg-white-color);
  margin: 1rem 0rem;
}

/* Texts */
.decorated-gradient-tile {
  background-image: linear-gradient(to bottom, #e453ce, #ac53dc);
  /* background: -webkit-linear-gradient(to bottom, #eee, #333); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.large-font-title {
  font-size: 4rem;
  font-weight: 800;
}
.semi-large-font-title {
  font-size: 2.5rem;
  font-weight: 800;
}
.medium-font-title {
  font-size: 2rem;
  font-weight: 800;
}
.section-title {
  font-size: 1.5rem;
  font-weight: 800;
}
.section-description {
  font-size: 1rem;
  color: var(--gray-color);
  margin: 0.5rem 0rem;
}

.description-text {
  font-size: 1.1rem;
  color: var(--gray-color);
  margin: 1rem 0rem;
}
.text-center {
  text-align: center;
}
.uppercase-large {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 800;
}
.uppercase-normal {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
}
.capitalize-text {
  text-transform: capitalize;
}
.small-text {
  font-size: 0.8rem;
  margin: 0.5rem 0rem;
  color: var(--gray-color);
}
.small-text-white {
  font-size: 0.8rem;
  margin: 0.5rem 0rem;
  color: var(--bg-white-color);
}
.small-text-weight {
  font-weight: 700;
}
.small {
  font-size: 0.7rem;
  padding-left: 0.5rem;
}

/* Header section styles begin
=============================== */
/* Navigation styles begin */
.navigation {
  padding: 2.25rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.1rem 0.2rem 0.3rem #dfdada;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.logo-brand-name {
  font-size: 2.2rem;
  font-weight: 800;
  padding-left: 0.8rem;
}
.decorated-text {
  color: var(--decorated-text-color);
}
.nav-links > ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.nav-links > ul > li > a {
  text-decoration: none;
  padding: 0rem 1rem;
  color: #3c354f;
  font-size: 1rem;
  font-weight: 500;
}
.link-div {
  background-color: #e7e6e9;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
}
.link-text {
  font-size: 0.9rem;
  color: #3c354f;
  padding-right: 0.5rem;
}
.nav-link-fas {
  padding: 0rem 0.5rem;
}
.fa-red {
  color: red;
}

/* Banner styles begin */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.fa-circle {
  font-size: 12px;
}
.banner-text {
  width: 50%;
  padding: 4rem 10rem 4rem 15rem;
}

.banner-image {
  width: 50%;
}
.banner-text {
  width: 50%;
  background-image: url("../images/Group 14.png");
  background-repeat: no-repeat;
  /* object-fit: cover; */
  background-position: center;
  height: 100%;
  background-size: cover;
}
.banner-image img {
  width: 64%;
  object-fit: cover;
  background-position: center;
  height: 100%;
}
.buttons {
  margin-top: 1.5rem;
}

/* Main section styles begin
=============================== */
/* Gamer section styles begin */
.gamer {
  background-color: #fff9fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 3rem 15rem;
}
.gamer-text,
.gamer-image {
  width: 50%;
}
.gamer-image img {
  width: 100%;
  object-fit: cover;
}
.gamer-text {
  text-align: right;
}

/* Online games section styles begin */
.online-games {
  margin-top: 3rem;
}
.videos {
  margin: 1.5rem 15rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 2rem;
}
.video-box img {
  width: 100%;
  object-fit: cover;
}

/* Play instantly section styles begin */
.play-instantly {
  margin: 3rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}
.play-text-box,
.play-image-box {
  width: 50%;
}
.play-text-box {
  text-align: right;
}
.play-image-box {
  position: relative;
}
.play-image-box img {
  width: 100%;
  object-fit: cover;
}
.over-lapper-image {
  width: 45%;
  object-fit: cover;
  position: absolute;
  top: 58%;
  left: -24%;
}

/*  Play games online section styles begin */
.play-games-online {
  margin: 6.5rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}
.play-online-image-box,
.play-games-online-text-box {
  width: 50%;
}
.play-online-image-box {
  position: relative;
}
.play-online-image-box img {
  width: 100%;
  object-fit: cover;
}
.play-online-over-lapper-image {
  width: 45%;
  object-fit: cover;
  position: absolute;
  top: 53%;
  right: -22%;
}
.play-games-online-text-box {
  text-align: left;
}

/* Careers section styles begin */
.careers {
  padding: 3rem 15rem;
  background-color: var(--career-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.career-text-box,
.career-image-box {
  width: 50%;
}
.career-text-box {
  background-image: url("../images/Group 14.png");
  background-repeat: no-repeat;
  object-fit: cover;
  color: #fff;
}
.career-image-box img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  background-size: cover;
}
.job-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.country {
  text-align: right;
}

/* Gaming category links section styles begin */
.gaming-category-links {
  background-color: #fff9fc;
  padding: 3rem 15rem;
}
.link-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 0.5rem;
  row-gap: 1rem;
}
.box-wrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2rem;
  padding: 0.2rem;
}

.box-wrapper:hover {
  border: 0.1rem solid var(--primary-color);
  padding: 0.2rem;
  color: var(--primary-color);
}
.link-image {
  width: 25%;
  object-fit: cover;
}

/* Footer section styles begin
=============================== */
footer {
  background-color: #0b0223;
  padding: 3rem 14rem;
}
.footer-logo-text {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  color: #fff;
}
.links {
  padding: 0rem 14rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: #fff;
  text-align: center;
}
.small-link-text {
  font-size: 0.7rem;
  color: #fff;
  margin: 0.5rem 0rem;
}
.social-links {
  padding: 0rem 18rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-align: center;
}
.important-links {
  padding: 0rem 15rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.links a,
.social-links a,
.important-links a {
  text-decoration: none;
  color: #fff;
}
.fa-social-links {
  font-size: 1.5rem;
  margin: 1rem 1rem;
}
.copyright {
  margin: 1.5rem 0rem;
}
